// === reset ===
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
// === / reset ===

body {
  background: linear-gradient(135deg, #f3ece9, #e7c4e3, #c8bef7) fixed;
  font-family: "Bebas Neue", cursive;
}

// === Container ===
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto 50px;
}
// === Header ===
.header {
  grid-column: 1/3;
  grid-row: 1/2;

  &__inner {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: grid;
    grid-template-columns: 1fr minmax(110px, auto);
    grid-template-rows: 1fr 1fr;
  }
  &__img {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 56px;
  }
  &__logo-title {
    font-family: "Oswald", sans-serif;
    font-size: 28px;
    line-height: 1;
    text-transform: uppercase;
    align-self: end;
    padding-left: 5px;
  }
  &__logo-subtitle {
    font-family: "Bungee Shade", cursive;
    font-size: 28px;
    line-height: 1;
    text-transform: uppercase;
    text-align: right;
  }
  &__tel {
    font-size: 24px;
    @include adaptiv-font(24, 20);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    &-icon {
      position: absolute;
      top: 0;
      left: -70%;
      width: 100%;
      height: 100%;
      &:hover {
        fill: #f01a60;
      }
    }
  }
}
// === / Header ===

// === Subtitle ===
.subtitle {
  grid-column: 1/2;
  grid-row: 2/3;
  padding-left: 5px;
  @include adaptiv-font(39, 19);
  line-height: 1;
  text-transform: uppercase;
  align-self: end;
}
// === / Subtitle ===

// === Title ===
.title {
  grid-column: 1/2;
  grid-row: 3/4;
  text-transform: uppercase;
  @include adaptiv-font(160, 75);
  line-height: 1;
  position: relative;
  &--hot {
    background: linear-gradient(45deg, #f01a60, #f95d12);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0b2349;
  }
  position: relative;
  &__image {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 70px;
  }
}
// === / Title ===

// === Site ===
.site {
  grid-column: 1/2;
  grid-row: 4/5;
  align-self: center;
  @include adaptiv-font(24, 18);
  letter-spacing: 5px;
}
// === / Site ===

// === Picture ===
.picture {
  grid-column: 2/3;
  grid-row: 2/5;
  &__item {
    max-width: 75%;
  }
}
// === / Picture ===

// === Footer ===
.footer {
  grid-column: 1/3;
  grid-row: 5/6;
}
// === / Footer ===
.footer {
  display: flex;
  align-items: center;
}
.icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  &:hover {
    fill: #f01a60;
  }
}
